<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
      <% date = DateTime.now

      %>
      <h1> <% "date.month" </h1>
    </body>
</html>


<!-- .strftime('%aday,&nbsp รง%b %d, &nbsp%Y') -->
